$border-style: solid black;
$main-fontfamily: Courier New, Courier, monospace;
$breakpoint-larger-tablet: 870px;
$breakpoint-tablet: 528px;
$breakpoint-smartphone: 446px;
@import 'mixins';

main {
    @include style-background-main;
    color: black;
    grid-column: 1/5;
    border: $border-style;
    font-family: $main-fontfamily;
    display: grid;
    gap: 10px;
    
    background-color: #e1edf3;
    
    
    #mainFrame {
      height: 80vh;
      width: 100%;
    }
}

  @media screen and (max-width: $breakpoint-larger-tablet)
    {
    main fieldset {
    width: 85vw;
    display: grid;
    }
    main #formain  #foto {
    margin-left: 15px;
    width: 55%;
    }

    }

    @media screen and (max-width: $breakpoint-tablet)
    {
   
 
    main #formain label {
        margin-left: 5%;
        display: inline-block;
        width: auto;
        }
    main #formain {
        justify-content: stretch;
        display: grid;
        }
    main #formain #categoría
        {
    margin-left: 15px;
    width: auto;
    
        }
    main #formain  #foto {
        margin-left: 15px;
        width:80%;
    }
    main #span1 button {
      justify-content: stretch;
      width: 35%;
      height: 27px;
      margin: 0px;
      padding: 0px;
      margin-left: 0px;
    }
    }

    @media screen and (max-width: $breakpoint-smartphone)
{
  
 
  main #span1  {
    justify-content: stretch;
    width: auto;
    height: 20px;
    margin: 0px;
    padding: 0px;
    ;
    
  }
  main #span2 > button {
    width: 45%;
    margin: 0.5%;
  }
  main #formain #fecha {
    width: 172px;
  }
  main #formain label {
    margin-left: 5%;
    display: inline-block;
    width: auto;
  }
    }