body{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 40% 40% auto;
    gap: 10px;
    

    
}

header{
    grid-column: 1/5;
    border: solid black;
    width: 100%;
    background-color: #008CBA;
    color: white;
        
}

h2{
    padding-left: 500px;
}
nav{
    grid-column: 1/5;
    border: solid black;
    
    
}


main{
    grid-column: 1/5;
    background-color: #e1edf3;
}


#tabla{
   
    
    border: solid black;
    width: 100%;
}


th{
    text-align: left;
}